__pycache__/
chroma_db/
models/
model/
dataset/
data/
.venv/
.vl_venv/
.lang_venv/
.tts/
youtube/
wandb/
rl_feedback/

*.odt
*.txt
*.pdf
*.log
*.json
*.jsonl
*.wav

.env
.python-version

testing.ipynb

!requirements.txt