langchain 
langchain-community 
langchain-text-splitters 
chromadb 
sentence-transformers 
pypdf 
python-docx 
llama-cpp-python

# UI
textual
rich
prompt-toolkit

# YouTube
yt_dlp
pydub

# Visualization
wandb

# STT
sounddevice